header .header-icon {
  margin: 10px 20px;
}
header nav {
  margin: 0px 20px;
}

picture {
  position: relative;
  top: -60px;
}
.hero__container {
  position: relative;
  left: calc(50% - 384px);
  width: 768px;
}
.footer-contain-information {
  width: 100%;
  display: grid;
  grid-template-columns: 65% 35%;
}
.footer-a-container {
  display: grid;
  width: 100%;
  grid-template-columns: 60% 40%;
}
.col4 {
  padding-top: 0;
}
.footer-social {
  width: 100%;
}
